<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Pokemon Discovery</h1>
    </header>
    <section class="main">
      <section class="pokemon-list">
        <ul class="list">
        </ul>
      </section>
      <section class="details">
      </section>
    </section>
    <script>
      require('../index');
    </script>
  </body>
</html>
