<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Pokemon Discovery</h1>
    </header>
    <section class="main">
      <section class="pokemon-list">
        <ul class="list">
        </ul>
      </section>
      <section class="details" style="display:none">
        <h2 class="pokemon"></h2>
        <img class="form" />
        <h3>Abilities</h3>
        <ul class="abilities"></ul>
        <h3>Stats</h3>
          <dl class="stats">
            <dt>Height</dt>
            <dd class="height"></dd>
            <dt>Weight</dt>
            <dd class="weight"></dd>
            <dt>Base Experience</dt>
            <dd class="experience"></dd>
          </dl>

      </section>
    </section>
    <script>
      require('../index');
    </script>
  </body>
</html>
